.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-area {
  display: flex;
  margin: 18px 0px;
}

.input-box {
  width: 25vw;
  margin-right: 5px;
  padding: 5px 12px;
  border-radius: 5px;
  outline: none;
}

.search-btn {
  margin-left: 5px;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-search {
  border: solid 1px black;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  width: 25vw;
  font-size: 0.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.default {
  border: solid 1px grey;
  color: grey;
}
.dropdown-input {
  display: block;
  border-radius: 4px;
  padding: 4px 6px;
  cursor: pointer;
  width: 25vw;
  font-size: 0.8em;
  border: solid 1px black;
}

.dropdown-list ul {
  z-index: 2;
  border: 1px solid grey;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: fixed;
  width: 26vw;
  max-height: 200px;
  border-top: none;
}

.dropdown-list li {
  background-color: rgba(136, 132, 132, 0.8);
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: white;
  font-weight: bold;
}
.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-list li.no-result {
  color: grey;
}

.dropdown-list li.no-result:hover {
  font-weight: normal;
}
